Package: aml-amremote
Version: 0.02
Architecture: arm64
Maintainer: Oleg Ivanov <balbes-150@yandex.ru>
Installed-Size: 1
Provides: aml-amremote
Conflicts: aml-amremote-905
Section: kernel
Priority: optional
Description: IR amremote S905
